# Core ML / DL
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0

# Data & utils
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
tqdm
joblib
multiprocess
ijson
numpydoc
openpyxl

# NLP
transformers
huggingface-hub
pytorch-pretrained-bert
pytorch-transformers
tokenizers
spacy
spacy-legacy
spacy-alignments
spacy-loggers
spacy-transformers

# Graph / ML
networkx
node2vec
pytorch-lightning

# Others
gensim
h5py
imblearn
imbalanced-learn
isort
munch
nest-asyncio
ninja
PyYAML
rdflib
sacred
tensorboardX
torchmetrics
torchsummary
tweepy
urllib3
wandb
